body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #222;
}

a {
  color: red
}

a:visited {
  color: darkred
}

label {
  cursor: pointer;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.App {
  text-align: center;
  padding-bottom: 160px; /* Add space for fixed player */
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  height: 85px;
  padding: 20px;
  color: #444;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-nav {
  position: relative;
  z-index: 30;
}

.App-playlist {
  z-index: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  text-align: center;
  padding-bottom: 20px; /* Extra space for playlist */
}

.App-player {
  z-index: 10;
  background-color: #222;
  position: fixed;
  bottom: 0;
  width: 100%;
  color: #444;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}