

.playlist-item {
    width: 100%;
    margin: 12px;
    padding: 12px;
    display: inline-block;
    text-decoration: none;
    color: #999;
    font-weight: bold;
    background-color: #444;
    padding: 20px 70px;
    font-size: 24px;
    border: 1px solid #900;
    background-image: linear-gradient(to bottom, #444 0%, #222 100%);
    background-image: -o-linear-gradient(to bottom, #444 0%, #222 100%);
    background-image: -moz-linear-gradient(to bottom, #444 0%, #222 100%);
    background-image: -webkit-linear-gradient(to bottom, #444 0%, #222 100%);
    background-image: -ms-linear-gradient(to bottom, #444 0%, #222 100%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, #444),
        color-stop(1, #222)
    );
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-shadow: 0px -1px 0px rgba(0,0,0,.5);
    -webkit-box-shadow: 0px 2px 0px #900, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    -moz-box-shadow: 0px 2px 0px #900, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    box-shadow: 0px 2px 0px #900, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    -webkit-transform: translate(0, 4px);
    -moz-transform: translate(0, 4px);
    transform: translate(0, 4px);
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
  
.playlist-item:visited {
    border-color: black;
}

.playlist-item:active {
    color: #900;
    border-color: black;
    background-image: linear-gradient(to bottom, #999 0%, #900 100%);
    background-image: -o-linear-gradient(to bottom, #999 0%, #900 100%);
    background-image: -moz-linear-gradient(to bottom, #999 0%, #900 100%);
    background-image: -webkit-linear-gradient(to bottom, #999 0%, #900 100%);
    background-image: -ms-linear-gradient(to bottom, #999 0%, #900 100%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, #999),
        color-stop(1, #900)
    );
}